.App {
  text-align: center;
}

.ScoreTable {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  background-color: #552e23;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.ScoreTable th {
  background-color: #e5714e;
}

.ScoreTable td {
  padding: 10px;
  border: 1px solid #fff;
}

.Points {
  font-size: 0.8em;
  color: gray;
}

.Game {
  max-height: 100vh;
  overflow-y: auto;
  padding-right: 40vw;
  padding-left: 40vw;
}